.leaseDetailsSection {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 1rem 1rem 1rem;
  > * {
    margin-top: 1rem;
  }
  background-color: rgb(240, 241, 247);
  border-radius: 4px;

  .detailItemList {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    > * {
      margin-top: 0.25rem;
    }
    align-self: stretch;
    flex: 0 0 auto;
    :nth-child(5n+5) {
      height: 1rem;
    }
    @media (max-width: 575px) {
      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }

}

@media (min-width: 576px) {
  .leaseDetailsSection {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    > * {
      margin-top: 1rem;
    }
    background-color: rgb(240, 241, 247);
    border-radius: 4px;
  
    .detailItemList {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      > * {
        margin-top: 0.25rem;
      }
      align-self: stretch;
      flex: 0 0 auto;
      :nth-child(5n+5) {
        height: 1rem;
      }
      &:nth-child(1) {
        margin-top: 0;
      }
    }
  
  }
}