###################################
# BFF
###################################
BFF_PORT=3000
DOMAIN=

###################################
# Frontend
###################################
FRONTEND_PORT=4002
SESSION_COOKIE_NAME=spindl-app-session
AUTHORIZATION_COOKIE_NAME=
AUTHORIZATION_TOKEN_SECRET=
IS_DEV=
GTM_ID=

###################################
# Database
###################################
DB_PORT=5432
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_HOST=db # Name of postgres container server
POSTGRES_PORT=
DB_RECONNECT_TRIES=
DB_RECONNECT_INTERVAL=

###################################
# Identity
###################################
IDENTITY_PORT=
IDENTITY_PATH=.

DB_IDENTITY_ENABLED=true
DB_IDENTITY_NAME=identity_db
DB_IDENTITY_USER=identity_admin
DB_IDENTITY_PASSWORD=

IDENTITY_SESSION_COOKIE_NAME=spindl-app-session
IDENTITY_TOKEN_EXPIRY=600000
IDENTITY_TOKEN_MAX_AGE=600000

SPINDL_APP_URL=

SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
SENDGRID_SIGN_UP_TEMPLATE_ID=
SENDGRID_CONFIRM_EMAIL_TEMPLATE_ID=
SENDGRID_RESET_PASSWORD_TEMPLATE_ID=

###################################
# Data
###################################
DATA_PORT=