.iconPlusBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(15%) sepia(12%) saturate(1914%) hue-rotate(197deg) brightness(97%) contrast(89%);
  }

}
.iconPlusBrand500 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(15%) sepia(76%) saturate(1672%) hue-rotate(215deg) brightness(97%) contrast(105%);
  }

}
.iconPlusBasic100 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(97%) saturate(18%) hue-rotate(238deg) brightness(104%) contrast(100%);
  }

}
.iconPlusBasic400 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(98%) sepia(21%) saturate(1112%) hue-rotate(179deg) brightness(94%) contrast(86%);
  }

}
.iconSettingsBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(13%) sepia(35%) saturate(796%) hue-rotate(197deg) brightness(92%) contrast(86%);
  }

}
.iconCloseBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(12%) sepia(10%) saturate(2788%) hue-rotate(197deg) brightness(97%) contrast(84%);
  }

}
.iconCloseBasic100 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(93%) saturate(3%) hue-rotate(194deg) brightness(107%) contrast(100%);
  }

}
.iconMoreHorizontalBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(13%) sepia(5%) saturate(5712%) hue-rotate(197deg) brightness(96%) contrast(85%);
  }

}
.iconMoreVerticalBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(16%) sepia(15%) saturate(1385%) hue-rotate(197deg) brightness(96%) contrast(92%);
  }

}
.iconArrowLeftBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(14%) sepia(26%) saturate(952%) hue-rotate(196deg) brightness(95%) contrast(87%);
  }

}
.iconArrowLeftBrand500 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(15%) sepia(20%) saturate(7488%) hue-rotate(223deg) brightness(92%) contrast(102%);
  }

}
.iconArrowRightBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(12%) sepia(5%) saturate(7054%) hue-rotate(198deg) brightness(87%) contrast(81%);
  }

}
.iconArrowUpBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(14%) sepia(9%) saturate(2582%) hue-rotate(197deg) brightness(99%) contrast(89%);
  }

}
.iconArrowDownBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(14%) sepia(8%) saturate(3047%) hue-rotate(197deg) brightness(99%) contrast(87%);
  }

}
.iconChevronUpBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(12%) sepia(10%) saturate(2768%) hue-rotate(197deg) brightness(104%) contrast(85%);
  }

}
.iconChevronDownBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(14%) sepia(30%) saturate(723%) hue-rotate(195deg) brightness(101%) contrast(91%);
  }

}
.iconChevronDownBasic400 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(11%) saturate(5614%) hue-rotate(179deg) brightness(85%) contrast(106%);
  }

}
.iconChevronLeftBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(15%) sepia(45%) saturate(464%) hue-rotate(195deg) brightness(96%) contrast(92%);
  }

}
.iconChevronRightBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(15%) sepia(6%) saturate(4019%) hue-rotate(198deg) brightness(95%) contrast(90%);
  }

}
.iconAlertCircleBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(16%) sepia(12%) saturate(1708%) hue-rotate(197deg) brightness(97%) contrast(93%);
  }

}
.iconAlertTriangleBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(15%) sepia(13%) saturate(1961%) hue-rotate(197deg) brightness(92%) contrast(87%);
  }

}
.iconQuestionMarkCircleBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(16%) sepia(10%) saturate(2257%) hue-rotate(197deg) brightness(91%) contrast(91%);
  }

}
.iconTrashBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(14%) sepia(19%) saturate(1210%) hue-rotate(196deg) brightness(101%) contrast(89%);
  }

}
.iconPictureBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(13%) sepia(24%) saturate(1169%) hue-rotate(197deg) brightness(95%) contrast(85%);
  }

}
.iconFilmBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(13%) sepia(30%) saturate(881%) hue-rotate(196deg) brightness(92%) contrast(85%);
  }

}
.iconRadioButtonOnBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(14%) sepia(30%) saturate(786%) hue-rotate(197deg) brightness(98%) contrast(89%);
  }

}
.iconRadioButtonOffBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(14%) sepia(33%) saturate(755%) hue-rotate(197deg) brightness(95%) contrast(88%);
  }

}
.iconRadioButtonOnBasic400 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(5412%) hue-rotate(208deg) brightness(88%) contrast(100%);
  }

}
.iconRadioButtonOffBasic400 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(92%) sepia(14%) saturate(142%) hue-rotate(198deg) brightness(90%) contrast(94%);
  }

}
.iconRadioButtonOnBrand500 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(15%) sepia(31%) saturate(4762%) hue-rotate(222deg) brightness(97%) contrast(103%);
  }

}
.iconRadioButtonOffBrand500 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(10%) sepia(43%) saturate(5371%) hue-rotate(233deg) brightness(104%) contrast(102%);
  }

}
.iconCheckboxUncheckedBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(16%) sepia(47%) saturate(436%) hue-rotate(195deg) brightness(90%) contrast(92%);
  }

}
.iconCheckboxCheckedBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(14%) sepia(31%) saturate(731%) hue-rotate(196deg) brightness(98%) contrast(90%);
  }

}
.iconCheckboxUncheckedBasic400 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(94%) sepia(5%) saturate(385%) hue-rotate(197deg) brightness(91%) contrast(92%);
  }

}
.iconCheckboxCheckedBasic400 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(99%) sepia(84%) saturate(647%) hue-rotate(178deg) brightness(93%) contrast(88%);
  }

}
.iconCheckboxUncheckedBrand500 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(9%) sepia(38%) saturate(6722%) hue-rotate(227deg) brightness(112%) contrast(90%);
  }

}
.iconCheckboxCheckedBrand500 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(12%) sepia(39%) saturate(6991%) hue-rotate(230deg) brightness(85%) contrast(91%);
  }

}
.iconHeartBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(16%) sepia(8%) saturate(2686%) hue-rotate(197deg) brightness(93%) contrast(90%);
  }

}
.iconHeartFilledBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(15%) sepia(11%) saturate(1915%) hue-rotate(197deg) brightness(96%) contrast(91%);
  }

}
.iconOptionsBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(13%) sepia(9%) saturate(2715%) hue-rotate(197deg) brightness(101%) contrast(87%);
  }

}
.iconCloseCircleFilledBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(14%) sepia(7%) saturate(3486%) hue-rotate(197deg) brightness(95%) contrast(87%);
  }

}
.iconCloseCircleFilledRed200 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(19%) sepia(91%) saturate(5797%) hue-rotate(15deg) brightness(93%) contrast(101%);
  }

}
.iconCheckmarkCircleFilledBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(12%) sepia(10%) saturate(2707%) hue-rotate(197deg) brightness(100%) contrast(85%);
  }

}
.iconCheckmarkCircleBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(13%) sepia(7%) saturate(3899%) hue-rotate(197deg) brightness(97%) contrast(86%);
  }

}
.iconMenuBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(16%) sepia(14%) saturate(1451%) hue-rotate(196deg) brightness(97%) contrast(93%);
  }

}
.iconExternalLinkBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    filter: brightness(0) saturate(100%) invert(15%) sepia(53%) saturate(389%) hue-rotate(195deg) brightness(96%) contrast(93%);
  }

}
.iconShareBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(16%) sepia(20%) saturate(1048%) hue-rotate(197deg) brightness(94%) contrast(92%);
  }

}
.iconShare2Basic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(12%) sepia(6%) saturate(4803%) hue-rotate(197deg) brightness(99%) contrast(84%);
  }

}
.iconShowBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(14%) sepia(9%) saturate(2692%) hue-rotate(197deg) brightness(101%) contrast(88%);
  }

}
.iconHideBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(14%) sepia(14%) saturate(1798%) hue-rotate(197deg) brightness(99%) contrast(88%);
  }

}
.iconShowBrand500 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(16%) sepia(65%) saturate(2203%) hue-rotate(216deg) brightness(88%) contrast(100%);
  }

}
.iconHideBrand500 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(11%) sepia(64%) saturate(5219%) hue-rotate(236deg) brightness(77%) contrast(94%);
  }

}
.iconShowBasic400 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(7210%) hue-rotate(175deg) brightness(92%) contrast(92%);
  }

}
.iconHideBasic400 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(89%) sepia(12%) saturate(157%) hue-rotate(197deg) brightness(98%) contrast(85%);
  }

}
.iconDashboardBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(13%) sepia(6%) saturate(4293%) hue-rotate(197deg) brightness(95%) contrast(85%);
  }

}
.iconDashboardBasic400 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(34%) saturate(1595%) hue-rotate(179deg) brightness(86%) contrast(104%);
  }

}
.iconDashboardBrand500 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(12%) sepia(74%) saturate(2798%) hue-rotate(228deg) brightness(93%) contrast(101%);
  }

}
.iconQuotesBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(13%) sepia(8%) saturate(3109%) hue-rotate(197deg) brightness(101%) contrast(87%);
  }

}
.iconQuotesBasic400 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(94%) sepia(5%) saturate(446%) hue-rotate(198deg) brightness(88%) contrast(98%);
  }

}
.iconQuotesBrand500 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(9%) sepia(46%) saturate(7223%) hue-rotate(230deg) brightness(92%) contrast(86%);
  }

}
.iconApplicationsBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(14%) sepia(7%) saturate(3558%) hue-rotate(197deg) brightness(94%) contrast(86%);
  }

}
.iconApplicationsBasic400 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(90%) sepia(16%) saturate(126%) hue-rotate(197deg) brightness(96%) contrast(84%);
  }

}
.iconApplicationsBrand500 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(12%) sepia(52%) saturate(4192%) hue-rotate(228deg) brightness(90%) contrast(97%);
  }

}
.iconRateCardsBasic800 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(14%) sepia(47%) saturate(599%) hue-rotate(197deg) brightness(87%) contrast(86%);
  }

}
.iconRateCardsBasic400 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(94%) sepia(5%) saturate(495%) hue-rotate(198deg) brightness(91%) contrast(92%);
  }

}
.iconRateCardsBrand500 {
  align-self: center;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  &:nth-child(1) {
    margin-top: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(17%) sepia(65%) saturate(2074%) hue-rotate(218deg) brightness(84%) contrast(105%);
  }

}