.rateCard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  > * {
    margin-top: 0.25rem;
  }
  background-color: rgb(240, 241, 247);
  border: 1px solid rgb(210, 211, 223);
  border-radius: 4px;

  .rateDetailItemList {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    > * {
      margin-top: 0.25rem;
    }
    align-self: stretch;
    flex: 0 0 auto;
    @media (max-width: 767px) {
      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }

}

@media (min-width: 768px) {
  .rateCard {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    > * {
      margin-top: 0.25rem;
    }
    background-color: rgb(240, 241, 247);
    border: 1px solid rgb(210, 211, 223);
    border-radius: 4px;
  
    .rateDetailsItemList {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      > * {
        margin-top: 0.25rem;
      }
      align-self: stretch;
      flex: 0 0 auto;
      &:nth-child(1) {
        margin-top: 0;
      }
    }
  
    .rateDetailItemList {
      display: none;
    }
  
  }
}