.logoLarge {
  overflow: hidden;

  .content {
    filter: brightness(0) saturate(100%) invert(28%) sepia(88%) saturate(2170%) hue-rotate(338deg) brightness(97%) contrast(101%);
  }

}
.logoSmall {
  overflow: hidden;

  .content {
    filter: brightness(0) saturate(100%) invert(28%) sepia(40%) saturate(3413%) hue-rotate(332deg) brightness(101%) contrast(105%);
  }

}