.dashboardRateCardList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  > * {
    margin-top: 1rem;
  }

  .dashboardRateCard {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
    > * {
      margin-top: 2rem;
    }
    align-self: stretch;
    flex: 0 0 auto;
    @media (max-width: 575px) {
      &:nth-child(1) {
        margin-top: 1;
      }
    }
  }

}

@media (min-width: 576px) {
  .dashboardRateCardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    > * {
      margin-top: 1rem;
      margin-left: 1rem;
    }
  
    .dashboardRateCard {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0rem 1.5rem 1.5rem 1.5rem;
      > * {
        margin-top: 2rem;
      }
      align-self: stretch;
      flex: 1 1 auto;
      max-width: calc(50% - 0.5rem);
      @media (max-width: 1023px) {
        &:nth-child(-n+2) {
          margin-top: 1;
        }
        &:nth-child(2n+1) {
          margin-left: 0;
        }
      }
    }
  
  }
}

@media (min-width: 1024px) {
  .dashboardRateCardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    > * {
      margin-top: 1rem;
      margin-left: 1rem;
    }
  
    .dashboardRateCard {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0rem 1.5rem 1.5rem 1.5rem;
      > * {
        margin-top: 2rem;
      }
      align-self: stretch;
      flex: 1 1 auto;
      max-width: calc(25% - 0.75rem);
      &:nth-child(-n+4) {
        margin-top: 1;
      }
      &:nth-child(4n+1) {
        margin-left: 0;
      }
    }
  
  }
}