.rateDetailItemList {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  > * {
    margin-top: 0.25rem;
  }

  .rateDetailItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    > * {
      margin-left: 0.5rem;
    }
    align-self: flex-start;
    width: 20rem;
    flex: 0 0 auto;
    &:nth-child(1) {
      margin-top: 0;
    }
  }

}